.devise-container {
  width: 500px;
  max-width: 100%;
  padding: 1rem 2rem;

  .devise-container__shared-links {
    margin-top: 1rem;
  }

  .devise-container__header {
    margin-bottom: 1rem;
    text-align: center;
  }
}

